.company-header {
  background-color: #0a0a32;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.company-info {
  display: flex;
  align-items: center;
}

#store-logo {
  max-height: 45px;
  margin-right: 12px;
}

.company-name {
  font-size: 3rem;

  color: white;

  letter-spacing: 1.5px;

  font-family: "Noto Sans Thai", sans-serif;
  font-weight: 700;
}

.company-contact {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
}

nav.navbar {
  margin-top: 0;
  background-color: #003366;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navbar-nav .nav-link:hover {
  color: #ff0000;
}

.navbar-nav .nav-link.active {
  color: #ff0000;
}

.navbar-nav .nav-link.store-active {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
}
