#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.block-home {
  height: 30vh; /* 40% of viewport height */
  width: 100%; /* Maintain width */
  object-fit: cover; /* Crop to fit */
}

.custom-caption {
  background-color: rgba(0, 0, 0, 0.8); 
  display: inline-block; 
  border-radius: 10px; 
  text-align: center;
}

/* Main heading */
.carousel-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 0.5rem;
}

/* Secondary heading */
.carousel-text {
  font-size: 2rem;
  font-weight: bold;
  color: #f1f1f1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 0.5rem;
}

/* Small text */
.carousel-text-small {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cccccc;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
  margin-top: 0.5rem;
}
